$blackBtn: #0D0D0D;
$green: #3CBF77;
body {
  font-family: sans-serif;
  background-color: #FF784B;
  font-size: 16px;
  .circle{
    position: fixed;
    border-radius: 50%;
    width: 1064px;
    height: 1064px;
    background: linear-gradient(222.29deg, #E16A58 14.29%, #FF784B 80.04%);
    z-index: 0;
  }
  #circle-1{
    top: 25%;
    left: -25%;
  }
  #circle-2{
    right: -50%;
    top: -45%;
    transform: rotate(-90deg);
  }
  #content{
    z-index: 3;
    padding: 50px;
    position: relative;
    overflow: hidden;
    nav {
      display: grid;
      grid-template: 1fr / 1fr 2fr;
      justify-items: end;
      width: 100%;
      border-bottom: 1px solid #fff;
  
      ul {
        display: flex;
        align-items: flex-end;
        li {
          list-style-type: none;
          color: #fff;
          padding: 5px 10px;
        }
      }
    }
    section{
      background: #fff;
      margin-top: 60px;
      padding: 50px;
      border-radius: 10px 10px 0px 0px;
    }
    #presentation {
      article.presentation{
        display: grid;
        grid-template: 1fr / 1fr 1fr;
        img{
          width: 80%;
        }
      }

      div{
        p{
          font-weight: 300;
        }
        .btnContainer{
          display: flex;
          flex-direction: row-reverse;

          button{
            padding: 16px 20px;
            margin-left: 10px;
            border: 0px;
            cursor: pointer;
            font-size: 1em;

            &.btn-contact{
              background: $blackBtn;
              font-weight: 700;
              color: #fff;
            }

            &.btn-rsvp{
              background: $green;
              font-weight: 700;
              color: #fff;
              position: relative;
              transition: all ease-in-out .3s;
              
              &::after{
                transition: all ease-in-out .4s;
                background-image: url(../images/arrow.svg);
                background-repeat: no-repeat;
                display: block;
                width: 20px;
                height: 8px;
                position: absolute;
                top: 40%;
                right: 10%;
                content: '';
                opacity: 0;
              }

              &:hover{
                padding-right: 40px;

                &::after{
                  opacity: 1;
                }
              }
            }
          }
        }
      }
    }

    #plates-page{
      display: grid;
      grid-template: 1fr / 1fr 1fr 1fr;
      gap: 30px; 
      overflow: hidden;

      div{
        width: 100%;
        border-right: 1px solid $blackBtn;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;

        &:last-of-type{
          border: 0px;
        }

        img{
          width: auto;
          height: 200px;
        }
        p{

          &.name{
            text-transform: uppercase;
            font-size: 1.25em;
            font-weight: 700;
          }
          
          &.description{
            font-weight: 300;
          }

          &.ingredients{
            font-weight: 300;
            font-style: italic;
          }

          &.price{
            font-weight: 700;
            font-size: 1.25em;
          }
        }

      }
    }

    #contact-page{
      display: grid;
      grid-template: 1fr / 1fr 1fr;
      gap: 40px;

      form{
        display: flex;
        flex-direction: column;
        font-weight: 300;

        div{
          display: flex;
          flex-direction: column;

          input{
            border-radius: 0;
            border: 1px solid #c9c9c9;
            padding: 5px 8px;
          }
        }
        textarea{
          border-radius: 0;
            border: 1px solid #c9c9c9;
            padding: 5px 8px;
            font-weight: 300;
            height: 100%;
            resize: none;
        }
        input[type=submit]{
          padding: 16px 20px;
          border: 0px;
          cursor: pointer;
          font-size: 1em;
          background: $green;
          color:#fff;
          font-weight: 700;
          display: inline-block;
          width: 20%;

        }
        > *{
          margin-bottom: 15px;
        }
      }
    }
  }
}